<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>frontend</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
	<body>
		<div id="app">
			<header class="bg-dark">
				<nav class="container p-3 navbar navbar-expand-md navbar-dark">
					<router-link to="/" class="navbar-brand">
						<span v-if="isAuthenticated">{{ username }}</span>
						<span v-else>Todos</span>
					</router-link>
					<form v-if="isAuthenticated" class="form-inline ml-auto" @submit.prevent="logout">
						<button class="btn btn-danger" type="submit">Logout</button>
					</form>
				</nav>
			</header>
			<router-view class="container"></router-view>
		</div>
		<script src="dist/build.js"></script>
	</body>
</html>
